* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

h2 {   
  font-family: forma-djr-display, sans-serif;
  font-size: 40px;
  background: linear-gradient(blue 5%, pink 110%);
  background-clip: text;
  color: transparent;
}

h3 {
  font-family: forma-djr-display, sans-serif;
  font-size: 30px;
  background: linear-gradient(blue 5%, pink 110%);
  background-clip: text;
  color: transparent;
}

header {
  margin: 0 0 20px 0;
}

.header-container {
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-welcome {
  margin: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header-welcome h1 {
  font-family: forma-djr-display, sans-serif;
  font-size: 100px;
  background: linear-gradient(pink 5%, blue 110%);
  background-clip: text;
  color: transparent;
}

.header-welcome h3 {
  align-self: flex-end;
}

/*Nav*/
.header-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-button {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: purple;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  transition: transform .4s;
  transform-origin: center;
}

.nav-button:hover {
  transform: scale(1.2);
}

.icon {
  height: 60px;
  width: 60px;
  transition: width 1s, height 1s;
}

/*Content*/

.content {
  display: flex;
  justify-content: space-around;
}

.task-container {
  margin: 0 0 0 100px;
  height: 550px;
  width: 900px;
  padding: .5rem 1rem;
  border: 2px grey solid;
  border-radius: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.visual-container {
  height: 550;
  width: 300px;
  border: 2px solid black;
  padding: .5rem 1rem;
  border: 2px grey solid;
  border-radius: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/*Modal*/
.task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 2rem;
}

.task-modal::backdrop {
  backdrop-filter: blur(8px);
  background-color: transparent;
}

.task-form {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.form-section {
  flex: 1;
  min-width: 300px;
}

.task-form h2 {
  margin-bottom: 50px;
}

.form-div {
  margin: 20px 0;
  display: flex;
  flex-flow: column;
}
#description-input {
  height: 200px;
}

input[type='text'] {
  padding: .5rem 1rem;
  border-radius: 10px;
  border: 1px black solid;
  width: 100%;
  font-size: 20px;
  font-family: baskerville, sans-serif;
}

label {
  font-family: forma-djr-display, sans-serif;
  color: black;
  font-size: 25px;
  margin: 0 0 5px 0;
}

.toggle-label {
  font-size: 0;
  width: 60px;
  height: 25px;
  border: .5px solid black;
  border-radius: 20px;
  position: relative;
}

input[type='checkbox']{
  appearance: none;
  position: absolute;
  top: -.5px;
  left: -.5px;
  bottom: -.5px;
  width: 25px;
  border: .5px solid black;
  border-radius: 20px;
  background-image: linear-gradient(to right, white 50%,pink 75%, blue 120%);
  background-size: 400%;
  background-position: left;
  transition: transform 0.6s ease-out, background-position 0.6s ease-out;
}

input[type='checkbox']:checked {
  transform: translateX(35px);
  background-position: right;

}


