* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

.header-container {
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-welcome {
  margin: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-button {
  height: 50px;
}

.nav-button i {
  color: purple;
  background-color: purple;
  font-size: 50px;
}