:root {
  --color-grey: #7f7f7f;
  --color-light-grey: #f4f4f8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

h2 {   
  font-family: forma-djr-display, sans-serif;
  font-size: 40px;
  background: linear-gradient(blue 5%, pink 110%);
  background-clip: text;
  color: transparent;
}

h3 {
  font-family: forma-djr-display, sans-serif;
  font-size: 30px;
  background: linear-gradient(blue 5%, pink 110%);
  background-clip: text;
  color: transparent;
}

header {
  margin: 0 0 20px 0;
}

.header-container {
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-welcome {
  margin: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header-welcome h1 {
  font-family: forma-djr-display, sans-serif;
  font-size: 100px;
  background: linear-gradient(pink 5%, blue 110%);
  background-clip: text;
  color: transparent;
}

.header-welcome h3 {
  align-self: flex-end;
}

/*Nav*/
.header-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-button {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: purple;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  transition: transform .4s;
  transform-origin: center;
}

.nav-button:hover {
  transform: scale(1.2);
}

.header-icon {
  height: 60px;
  width: 60px;
  transition: width 1s, height 1s;
}

/*Content*/

.content {
  display: flex;
  justify-content: space-around;
}

.task-section {
  margin: 0 0 0 100px;
  height: 550px;
  width: 900px;
  padding: .5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: visible;
  overflow-y: visible;
}

.task-container {
  display: flex;
  flex-flow: column nowrap;
}

.visual-container {
  height: 550;
  width: 300px;
  border: 2px solid black;
  padding: .5rem 1rem;
  border: 2px grey solid;
  border-radius: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/*Modal*/
.task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 2rem;
}

.task-modal::backdrop {
  backdrop-filter: blur(8px);
  background-color: transparent;
}

.task-form {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.form-section {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.task-form h2 {
  margin-bottom: 50px;
}

.form-div {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-flow: column;
}

textArea, input[type='text']{
  padding: .5rem 1rem;
  border-radius: 10px;
  border: 1px black solid;
  width: 100%;
  font-size: 20px;
  font-family: baskerville, sans-serif;
}

#description-input {
  height: 200px;
  color: var(--color-grey);
}

label {
  width: fit-content;
  font-family: forma-djr-display, sans-serif;
  color: black;
  font-size: 25px;
  margin: 0 0 5px 0;
}

.toggle-button{
  font-size: 0px;
  width: 60px;
  height: 25px;
  border: .5px solid black;
  border-radius: 20px;
  position: relative
}

input[type='checkbox']{
  appearance: none;
  position: absolute;
  top: -.5px;
  left: -.5px;
  bottom: -.5px;
  width: 25px;
  border: .5px solid black;
  border-radius: 20px;
  background-image: linear-gradient(to right, white 50%,pink 75%, blue 120%);
  background-size: 400%;
  background-position: left;
  transition: transform 0.4s ease-out, background-position 0.4s ease-out;
}

input[type='checkbox']:checked {
  transform: translateX(35px);
  background-position: right;
}

#due-date-input, #work-time-input{
  height: 34px;
  width: 200px;
  font-size: 20px;
  font-family: baskerville, sans-serif;
  padding: .25rem .5rem;
  border-radius: 10px;
  border: .5px solid black;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}

select {
  padding: .25rem .5rem;
  border-radius: 10px;
  border: 1px black solid;
  width: 250px;
  font-size: 20px;
  font-family: baskerville, sans-serif;
}
.submit-button {
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  border: .5px solid black;
  border-radius: 10px;
  margin: 20px 0 0 50% ;
  transform: translateX(-50%);
  background-image: linear-gradient(45deg, white 25% , pink 50%, blue 120%);
  background-size: 250px 250px;
  background-position: bottom left;
  color: black;
  font-family: baskerville;
  transform-origin: center;
  transition: background-position .6s ease-out, color .6s ease-out, transform .6s ease-out;
}

.submit-button:hover {
  color: white;
  background-position: top right;
}

.cancel-button {
  height: 60px;
  width: 60px;
  font-size: 50px;
  position: absolute;
  border: none;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background: transparent;
  color: grey;
  font-family: forma-djr-display;
  cursor: pointer;
}

/*Task*/

.task {
  width: 100%;
  border: .5px solid black;
  border-radius: 20px;
  margin: 10px 0; 
  display: flex;
  flex-flow: row nowrap;
  transition: transform 0.4s ease-out, margin 0.4s ease-out;
  transform-origin: center;
  overflow: hidden;
}
.task:hover{
  transform: scale(1.1);
  margin: 20px 0;
}

.task:hover > .task-text {
  height: 120px;
  justify-content: space-between;
}

.task-text {
  height: 84px;
  padding: 1.5rem 1.5rem;
  flex: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  transition: height .3s ease-in-out;
}

.task-text p {
  font-size: 17px;
  max-height: 50px;
  overflow-y: scroll;
  position: absolute;
  bottom: 15px;
  font-family: baskerville, sans-serif;
  color: var(--color-grey);
  opacity: 0;
  transition-delay: 0s;
  transition: opacity .2s ease-out;
}

.task:hover > .task-text p{
  opacity: 1;
  transition-delay: .2s;
}

.task-text:hover > .task-description {
  display: inline-block;
}

.task-properties {
  min-width: 400px;
  position: relative; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-x: hidden;
}

.task:hover .icon-section {
  opacity: 1;
  transform: translateY(0px);
}

.task:hover .property {
  transform: translateY(20px);
}

.property {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  transition: transform .4s ease-out;
}

.icon-section {
  width: 100%;
  height: 35px;
  border-bottom-left-radius: 25px;
  position: absolute;
  top: 0;
  transform: translateY(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background-color: var(--color-light-grey);
  opacity: 0;
  transition: opacity .4s ease-out, transform .4s ease-out;
}

.task-icon {
  position: relative;
  height: 30px;
  width: 30px;
  fill: black;
}

.task-icon::before {
  content: 'Due Date';
  height: 20px;
  width: 100px;
  position: absolute;
  top: 0; 
  font-size: 15px;
}